<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="nl.kalenel.s3motion">
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="22"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <application android:label="S3 Bedroom Motion" android:allowBackup="false" android:theme="@android:style/Theme.Material.NoActionBar">
        <activity android:name=".MotionActivity" android:exported="true" android:screenOrientation="portrait" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>